<div class="row row-padding">
  <h3 class="text-center"><i class="fi-plus"></i> Submit a Workshop Idea</h3>
  <hr>
</div>

<div class="row row-padding">
  <div class="callout">
    <%= render "submit_form" %>
  </div>
</div>
