<h4>Profiles Index</h4>

<% if @profiles.nil? %>
  There are no profiles to display.
<% else %>
    <table>
      <thead>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          User Email
        </th>
        <th>
          Delete?
        </th>
        <th>
          Edit?
        </th>
      </thead>
      <tbody>
        <% @profiles.each do |profile| %>
        <tr>
          <td>
            <%= profile.user.first_name %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
