<h4>Profiles Index</h4>

<% if @profiles.nil? %>
  There are no profiles to display.
<% else %>
    <table>
      <thead>
        <th>
          Last Name
        </th>
        <th>
          First Name
        </th>
        <th>
          User Email
        </th>
        <th>
          Delete?
        </th>
      </thead>
      <tbody>
        <% @profiles.each do |profile| %>
        <tr>
          <td>
            <%= profile.user.last_name %>
          </td>
          <td>
            <%= profile.user.first_name %>
          </td>
          <td>
            <%= profile.user.email %>
          </td>
          <td>
            <%= link_to "Delete Profile", profile_path(profile), class:"button", method: "delete" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
