<div class="row row-padding">
  <h3 class="text-center"><i class="fi-info"></i> About</h3>
  <hr>
  <p class="callout">
    Workshop Organizer allows presenters to submit proposals for workshops. The admin
    can review submissions and approve the appropriate workshops. Attendees can then
    sign up for the approved workshops.
  </p>
</div>
