<section class="hero">
    <div class="row">
        <div class="small-centered medium-uncentered small-12 medium-6 large-5 columns">
            <h1>Workshop Organizer</h1>
            <p>Improve your skills by attending a workshop<br>
            Have your own ideas? Submit a workshop idea</p>
            <p><%= link_to 'Get Started Today', '/users/sign_up', class: 'button' %></p>
        </div>
    </div>
</section>
