<footer class="footer">
  <div class="row">
      <div class="small-12 columns">
          <p class="slogan">Workshop Organizer</p>
          <p class="links">
            <%= link_to 'Home', root_path %>
            <%= link_to 'Workshops', workshops_path %>
            <%= link_to 'About', '/about' %>
          <p class="made">Made with ♥ at Launch Academy</p>
          <p class="copywrite">Copyright © 2016</p>
      </div>
  </div>
</footer>
